# NEONTECH
# https://console.neon.tech/app/projects
DATABASE_URL='URL_DE_LA_BASE_DE_DATOS'

# BETTER AUTH
# openssl rand -base64 32
BETTER_AUTH_SECRET='CLAVE_SECRETA_GENERADA'
BETTER_AUTH_URL=http://localhost:3000 

# APLICACIONES DE TERCEROS
# https://github.com/settings/developers (oauth app)
GITHUB_CLIENT_ID='ID_DEL_CLIENTE_DE_GITHUB'
GITHUB_CLIENT_SECRET='SECRETO_DEL_CLIENTE_DE_GITHUB'

# https://console.cloud.google.com/apis/credentials (oauth client)
GOOGLE_CLIENT_ID='ID_DEL_CLIENTE_DE_GOOGLE'
GOOGLE_CLIENT_SECRET='SECRETO_DEL_CLIENTE_DE_GOOGLE'
