# ARCHIVO DE REFERENCIA DE LAS VARIABLES DE ENTORNO

# Define la URL de conexión de la base de datos, como se ha creado la base de datos con Docker, entonces
# se utiliza ese enlace de conexión:
# DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/nombre_base_datos"
DATABASE_URL = "postgresql://postgres:postgres@localhost:5432/postgres"

# Coloca el nombre 'env' dentro del archivo '.gitignore'

# VARIABLES DE ENTORNO RELACIONADAS A AUTENTICACIÓN DE USUARIO

# Obten el código de: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=your-secret-key-here

# Credenciales del proveedor Github
GITHUB_ID=
GITHUB_SECRET=

# Credenciales del proveedor Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=