# ARCHIVO DE REFERENCIA DE LAS VARIABLES DE ENTORNO

# Define la URL de conexión de la base de datos, como se ha creado la base de datos con Docker, entonces
# se utiliza ese enlace de conexión:
# DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/nombre_base_datos"
DATABASE_URL = "postgresql://postgres:postgres@localhost:5432/postgres"

# Coloca el nombre 'env' dentro del archivo '.gitignore'
